## 8.  Scrape the details of Highest selling novels.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=webdriver.Chrome("chromedriver.exe")

In [3]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [6]:
book_name=[]
Autname=[]
vol=[]
pub=[]
gen=[]

In [7]:
titles_tag=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in titles_tag:
    book_name.append(i.text)
book_name[0:5]

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey']

In [10]:
titles_tag1=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in titles_tag1:
    Autname.append(i.text)
Autname[0:5]

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.']

In [11]:
titles_tag2=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in titles_tag2:
    vol.append(i.text)
vol[0:5]

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936']

In [12]:
titles_tag2=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in titles_tag2:
    pub.append(i.text)
pub[0:5]

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House']

In [13]:
titles_tag2=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in titles_tag2:
    gen.append(i.text)
gen[0:5]

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas']

In [14]:
import pandas as pd 
Books=pd.DataFrame()
Books['Book_name']=book_name[0:99]
Books['Author_name']=Autname[0:99]
Books['Volumes_sold']=vol[0:99]
Books['Publisher']=pub[0:99]
Books['Genre']=gen[0:99]

In [15]:
Books

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
94,Nights of Rain and Stars,"Binchy, Maeve","808,900",Orion,General & Literary Fiction
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General